.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.yes{
  margin-left: 30px!important;
}

.nn{
  display: inherit!important;
}
.aa{
  margin-left: 30px!important;
  color: #fff;
}


.cont{
  border: 1px solid skyblue!important;
  padding: 40px;
  padding-left: 150px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.min-vh-90 {
  min-height: 90vh;
}